{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">

{% if user.is_authenticated %}

<h1>Bem vindo(a)!</h1>

{% else %}

<h1>Login</h1>
<br/>
<form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    <form>
        <div class="mb-3">
          <input type="text" class="form-control" name="username", placeholder="Entre com seu Usuário" required>
        </div><br/>
        <div class="mb-3">
          <input type="password" class="form-control", name="password", placeholder="Senha" required>
        </div>
      <br/>
        <button type="submit" class="btn btn-secondary">Login</button>
      </form>
</form>

</div>

{% endif %}

{% endblock %}